/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:11:13 PM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:51:29 PM
    Author     : rsee
*/
/* line 13, ../css/site.scss */
body {
  background: url(../images/swirl_bg.png);
  color: #666;
  height: 800px; }

/* line 19, ../css/site.scss */
.container {
  background: #FFF; }

/* line 24, ../css/site.scss */
.desktop-header .logo {
  padding-top: 20px;
  text-align: center; }
/* line 29, ../css/site.scss */
.desktop-header .slogan-1, .desktop-header .slogan-2 {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 70px; }
/* line 35, ../css/site.scss */
.desktop-header .slogan-1 {
  text-align: right; }
/* line 39, ../css/site.scss */
.desktop-header nav {
  border-top: 2px solid #C3E76A;
  border-bottom: 2px solid #C3E76A;
  margin-top: 45px; }
  /* line 45, ../css/site.scss */
  .desktop-header nav ul li {
    font-size: 24px; }
    /* line 47, ../css/site.scss */
    .desktop-header nav ul li a {
      color: #666; }

/* line 55, ../css/site.scss */
.banner {
  background: url(../images/banner_image.png) no-repeat;
  height: 450px; }
  /* line 59, ../css/site.scss */
  .banner .banner-message {
    background: #FFF;
    opacity: .8;
    width: 30%;
    padding: 20px;
    position: relative;
    top: 70px;
    left: 65%; }

/* line 70, ../css/site.scss */
.section-title {
  border-top: 2px solid #F2FADF;
  border-bottom: 2px solid #F2FADF; }
  /* line 74, ../css/site.scss */
  .section-title h2 {
    background: #F2FADF;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 0;
    text-align: center;
    font-weight: 200; }

/* line 84, ../css/site.scss */
.content {
  padding: 60px 0; }
  /* line 87, ../css/site.scss */
  .content p {
    font-size: 18px; }
  /* line 91, ../css/site.scss */
  .content .padding-left-none {
    padding-left: 0px !important; }
  /* line 95, ../css/site.scss */
  .content .padding-right-none {
    padding-right: 0px !important; }
  /* line 99, ../css/site.scss */
  .content ul {
    padding-left: 20px; }
    /* line 101, ../css/site.scss */
    .content ul li {
      font-size: 16px; }
  /* line 106, ../css/site.scss */
  .content .high-light {
    color: black; }

/* line 111, ../css/site.scss */
footer {
  margin-bottom: 200px; }
  /* line 114, ../css/site.scss */
  footer .copy-right {
    padding: 20px 0 35px 0;
    border-top: 2px solid #C3E76A; }
  /* line 119, ../css/site.scss */
  footer .footer-section-title {
    font-size: 24px; }
  /* line 123, ../css/site.scss */
  footer ul {
    margin-top: 20px;
    padding-left: 0; }
    /* line 126, ../css/site.scss */
    footer ul li {
      list-style: none;
      font-size: 22px; }
      /* line 130, ../css/site.scss */
      footer ul li a {
        color: #BAB693; }

/* line 137, ../css/site.scss */
.bold {
  font-weight: bold; }

/* line 141, ../css/site.scss */
address {
  font-size: 18px; }

/* line 145, ../css/site.scss */
.light-background {
  background: #FFFEFB; }
