/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:11:13 PM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:51:29 PM
    Author     : rsee
*/
/* line 13, ../css/site.scss */
body {
  color: #666;
  height: 800px;
  font-weight: 200; }

/* line 19, ../css/site.scss */
.container {
  width: 100%;
  background: #FFF; }

/* line 28, ../css/site.scss */
.navbar-header {
  background: #c9e696; }
  /* line 31, ../css/site.scss */
  .navbar-header .navbar-brand {
    padding: 10px 15px; }
    /* line 33, ../css/site.scss */
    .navbar-header .navbar-brand img {
      display: inline;
      height: 30px; }
    /* line 38, ../css/site.scss */
    .navbar-header .navbar-brand span {
      display: inline;
      padding-left: 10px; }

/* line 44, ../css/site.scss */
ul.nav.navbar-nav li a:focus, ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a.selected {
  background: #c9e696; }

/* line 49, ../css/site.scss */
.desktop-header .logo, .desktop-header .slogan-1, .desktop-header .slogan-2 {
  display: inline;
  float: left; }
/* line 54, ../css/site.scss */
.desktop-header .logo {
  width: 20%;
  text-align: center; }
/* line 58, ../css/site.scss */
.desktop-header .slogan-1, .desktop-header .slogan-2 {
  width: 40%;
  padding: 40px 35px 0px 35px;
  font-size: 20px; }
/* line 63, ../css/site.scss */
.desktop-header .slogan-1 {
  text-align: right; }
/* line 67, ../css/site.scss */
.desktop-header .nav > li > a:focus, .desktop-header .nav > li > a:hover, .desktop-header .nav > li > a.selected {
  background: #c9e696; }
/* line 71, ../css/site.scss */
.desktop-header nav {
  margin-top: 45px; }
  /* line 75, ../css/site.scss */
  .desktop-header nav ul {
    border-top: 2px solid #c9e696;
    border-bottom: 2px solid #c9e696;
    width: 100%;
    padding: 2px 0; }
    /* line 81, ../css/site.scss */
    .desktop-header nav ul li {
      width: 20%;
      font-size: 18px; }
      /* line 89, ../css/site.scss */
      .desktop-header nav ul li a {
        color: #666;
        padding-left: 0;
        padding-right: 0; }

/* line 99, ../css/site.scss */
.banner {
  background: url(../images/banner_image.png) no-repeat -80px top;
  height: 450px;
  padding: 20px; }
  /* line 104, ../css/site.scss */
  .banner .banner-message {
    width: 100%;
    padding: 10px;
    background: #FFF;
    opacity: .8; }

/* line 117, ../css/site.scss */
.section-title h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 0;
  font-weight: 200; }

/* line 125, ../css/site.scss */
.content {
  padding-bottom: 40px; }
  /* line 129, ../css/site.scss */
  .content p {
    font-size: 18px; }
  /* line 133, ../css/site.scss */
  .content .padding-left-none {
    padding-left: 0px !important; }
  /* line 137, ../css/site.scss */
  .content .padding-right-none {
    padding-right: 0px !important; }
  /* line 141, ../css/site.scss */
  .content ul {
    padding-left: 20px; }
    /* line 143, ../css/site.scss */
    .content ul li {
      font-size: 16px; }
  /* line 148, ../css/site.scss */
  .content .high-light {
    color: black; }

/* line 153, ../css/site.scss */
.row.section {
  margin-bottom: 60px; }

/* line 157, ../css/site.scss */
footer {
  padding-top: 60px;
  margin-bottom: 50px;
  border-top: 2px solid #c9e696; }
  /* line 162, ../css/site.scss */
  footer .copy-right {
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center; }
  /* line 168, ../css/site.scss */
  footer .footer-section-title {
    font-size: 20px; }
  /* line 172, ../css/site.scss */
  footer p.address {
    margin-top: 23px; }
  /* line 176, ../css/site.scss */
  footer ul {
    margin-top: 20px;
    padding-left: 0; }
    /* line 179, ../css/site.scss */
    footer ul li {
      list-style: none;
      font-size: 18px; }
      /* line 183, ../css/site.scss */
      footer ul li a {
        color: #78bb02; }

/* line 190, ../css/site.scss */
.bold {
  font-weight: bold; }

/* line 194, ../css/site.scss */
address {
  font-size: 18px; }

/* line 198, ../css/site.scss */
.light-background {
  background: #FFFEFB; }

/* line 202, ../css/site.scss */
h3 {
  font-weight: normal; }

/* line 206, ../css/site.scss */
.glyphicon.green {
  color: #c9e696; }

/* line 211, ../css/site.scss */
ul.month-selector-wrapper {
  border-top: 2px solid #c9e696;
  border-bottom: 2px solid #c9e696;
  padding: 2px 0;
  float: left;
  width: 100%; }
  /* line 219, ../css/site.scss */
  ul.month-selector-wrapper li {
    list-style: none;
    float: left;
    width: 33.2%;
    text-align: center;
    cursor: pointer;
    font-size: 20px; }
    /* line 227, ../css/site.scss */
    ul.month-selector-wrapper li:last-of-type {
      margin-right: 0px; }
    /* line 231, ../css/site.scss */
    ul.month-selector-wrapper li div {
      padding: 10px 20px;
      display: block; }
    /* line 236, ../css/site.scss */
    ul.month-selector-wrapper li.active {
      border-top: 2px solid #c9e696; }
      /* line 239, ../css/site.scss */
      ul.month-selector-wrapper li.active div {
        background: #c9e696; }

/* line 246, ../css/site.scss */
.calendar-wrapper {
  width: 100%; }
  /* line 249, ../css/site.scss */
  .calendar-wrapper table {
    border: 1px solid #c9e696; }
    /* line 252, ../css/site.scss */
    .calendar-wrapper table tr td, .calendar-wrapper table tr th {
      padding: 5px;
      border: 1px solid #c9e696;
      width: 14.28%; }
    /* line 258, ../css/site.scss */
    .calendar-wrapper table tr td {
      height: 100px;
      vertical-align: top;
      font-size: 11px; }
      /* line 263, ../css/site.scss */
      .calendar-wrapper table tr td .inactive {
        color: #CCC; }
      /* line 267, ../css/site.scss */
      .calendar-wrapper table tr td span.date {
        font-size: 13px;
        display: block; }
      /* line 272, ../css/site.scss */
      .calendar-wrapper table tr td a {
        display: block;
        margin-bottom: 3px;
        color: #666; }
        /* line 277, ../css/site.scss */
        .calendar-wrapper table tr td a .full {
          display: inline;
          background: red;
          color: white;
          padding: 2px; }
    /* line 288, ../css/site.scss */
    .calendar-wrapper table tr.odd td {
      background: #F2FADF; }

/* line 298, ../css/site.scss */
table tr td, table tr th {
  padding: 5px; }
/* line 304, ../css/site.scss */
table tr.odd td {
  background: #F2FADF; }

/* line 312, ../css/site.scss */
.text-right img {
  float: right; }

/* line 317, ../css/site.scss */
img.green-frame {
  border: 5px solid #F2FADF;
  padding: 1px; }

/* line 328, ../css/site.scss */
.modal-dialog.modal-xlg {
  width: 930px; }
/* line 332, ../css/site.scss */
.modal-dialog .modal-header, .modal-dialog .modal-footer {
  border: none; }
/* line 336, ../css/site.scss */
.modal-dialog h4.modal-title {
  font-weight: 200; }
/* line 340, ../css/site.scss */
.modal-dialog .modal-body {
  border-top: 1px solid #c9e696;
  border-bottom: 1px solid #c9e696;
  margin: 0 15px; }

/* line 347, ../css/site.scss */
a {
  color: #78bb02; }

/* line 352, ../css/site.scss */
.image-wrapper img {
  margin: 0 auto;
  margin-bottom: 20px; }

/* line 358, ../css/site.scss */
.btn-success {
  background: #c9e696;
  border-color: #c9e696; }
  /* line 362, ../css/site.scss */
  .btn-success:hover {
    background: #9fd244;
    border-color: #9fd244; }

/* line 368, ../css/site.scss */
input.paypal-button {
  background: #78bb02;
  border: none;
  color: white;
  font-size: 12px;
  padding: 5px 20px; }
  /* line 375, ../css/site.scss */
  input.paypal-button:hover, input.paypal-button:focus, input.paypal-button:active {
    background: #c9e696;
    color: #666; }

/*
.store-carousel {
    padding-left: 0;
    padding-right: 0;
}
*/
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
/* line 395, ../css/site.scss */
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../images/a17.png) no-repeat;
  overflow: hidden; }

/* line 403, ../css/site.scss */
.jssora05l {
  background-position: -10px -40px; }

/* line 404, ../css/site.scss */
.jssora05r {
  background-position: -70px -40px; }

/* line 405, ../css/site.scss */
.jssora05l:hover {
  background-position: -130px -40px; }

/* line 406, ../css/site.scss */
.jssora05r:hover {
  background-position: -190px -40px; }

/* line 407, ../css/site.scss */
.jssora05ldn {
  background-position: -250px -40px; }

/* line 408, ../css/site.scss */
.jssora05rdn {
  background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 02 css */
/*
.jssort02 .p            (normal)
.jssort02 .p:hover      (normal mouseover)
.jssort02 .pav          (active)
.jssort02 .pav:hover    (active mouseover)
.jssort02 .pdn          (mousedown)
*/
/* line 418, ../css/site.scss */
.jssort02 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

/* line 426, ../css/site.scss */
.jssort02 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 62px;
  border: none; }

/* line 435, ../css/site.scss */
.jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c {
  background: url(../images/t01.png) center center;
  border-width: 0px;
  top: 2px;
  left: 2px;
  width: 95px;
  height: 62px; }

/* line 444, ../css/site.scss */
.jssort02 .p:hover .c, .jssort02 .pav:hover .c {
  top: 0px;
  left: 0px;
  width: 97px;
  height: 64px;
  border: #fff 1px solid; }

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
/* line 461, ../css/site.scss */
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  background: url(../images/b05.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

/* line 467, ../css/site.scss */
.jssorb05 div {
  background-position: -7px -7px; }

/* line 471, ../css/site.scss */
.jssorb05 div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px; }

/* line 475, ../css/site.scss */
.jssorb05 .av {
  background-position: -67px -7px; }

/* line 479, ../css/site.scss */
.jssorb05 .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l              (normal)
.jssora12r              (normal)
.jssora12l:hover        (normal mouseover)
.jssora12r:hover        (normal mouseover)
.jssora12ldn            (mousedown)
.jssora12rdn            (mousedown)
*/
/* line 491, ../css/site.scss */
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../images/a12.png) no-repeat;
  overflow: hidden; }

/* line 499, ../css/site.scss */
.jssora12l {
  background-position: -16px -37px; }

/* line 503, ../css/site.scss */
.jssora12r {
  background-position: -75px -37px; }

/* line 507, ../css/site.scss */
.jssora12l:hover {
  background-position: -136px -37px; }

/* line 511, ../css/site.scss */
.jssora12r:hover {
  background-position: -195px -37px; }

/* line 515, ../css/site.scss */
.jssora12ldn {
  background-position: -256px -37px; }

/* line 519, ../css/site.scss */
.jssora12rdn {
  background-position: -315px -37px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 528, ../css/site.scss */
  .banner {
    background: url(../images/banner_image.png) no-repeat top center;
    height: 375px;
    padding: 30px; }
    /* line 533, ../css/site.scss */
    .banner .banner-message {
      width: 40%;
      height: 100%;
      float: right;
      padding: 20px 15px;
      background: white;
      opacity: .8; }

  /* line 548, ../css/site.scss */
  footer .copy-right {
    text-align: left; }

  /* line 553, ../css/site.scss */
  .desktop-header {
    margin-top: 20px; }
    /* line 557, ../css/site.scss */
    .desktop-header nav ul li {
      font-size: 18px; }

  /*
  .store-carousel {
      padding-left: 15px;
      padding-right: 15px;
  }
  */ }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 573, ../css/site.scss */
  .container {
    width: 960px; }

  /* line 580, ../css/site.scss */
  .desktop-header nav ul li {
    font-size: 20px; } }
/* Large devices (large desktops, 1200px and up) */
