/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:11:13 PM
    Author     : rsee
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 2:51:29 PM
    Author     : rsee
*/
/* line 13, ../css/site.scss */
body {
  background: url(../images/swirl_bg.png);
  color: #666;
  height: 800px; }

/* line 19, ../css/site.scss */
.container {
  background: #FFF; }
  /* line 22, ../css/site.scss */
  .container.main-content, .container.desktop-header {
    box-shadow: 0px 4px 10px #CCC; }

/* line 28, ../css/site.scss */
.desktop-header .logo {
  padding-top: 20px;
  text-align: center; }
/* line 33, ../css/site.scss */
.desktop-header .slogan-1, .desktop-header .slogan-2 {
  font-weight: 200;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 70px; }
/* line 40, ../css/site.scss */
.desktop-header .slogan-1 {
  text-align: right; }
/* line 44, ../css/site.scss */
.desktop-header nav {
  border-top: 2px solid #C3E76A;
  border-bottom: 2px solid #C3E76A;
  margin-top: 45px; }
  /* line 49, ../css/site.scss */
  .desktop-header nav ul {
    width: 100%; }
    /* line 51, ../css/site.scss */
    .desktop-header nav ul li {
      width: 19%;
      font-size: 24px; }
      /* line 55, ../css/site.scss */
      .desktop-header nav ul li:nth-of-type(4) {
        width: 23%; }
      /* line 59, ../css/site.scss */
      .desktop-header nav ul li a {
        color: #666; }

/* line 67, ../css/site.scss */
.banner {
  background: url(../images/banner_image.png) no-repeat;
  height: 450px; }
  /* line 71, ../css/site.scss */
  .banner .banner-message {
    background: #FFF;
    opacity: .8;
    width: 30%;
    padding: 20px;
    position: relative;
    top: 70px;
    left: 65%; }

/* line 82, ../css/site.scss */
.section-title {
  border-top: 2px solid #F2FADF;
  border-bottom: 2px solid #F2FADF; }
  /* line 86, ../css/site.scss */
  .section-title h2 {
    background: #F2FADF;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 0;
    text-align: center;
    font-weight: 200; }

/* line 96, ../css/site.scss */
.content {
  padding: 60px 0; }
  /* line 99, ../css/site.scss */
  .content p {
    font-size: 18px; }
  /* line 103, ../css/site.scss */
  .content .padding-left-none {
    padding-left: 0px !important; }
  /* line 107, ../css/site.scss */
  .content .padding-right-none {
    padding-right: 0px !important; }
  /* line 111, ../css/site.scss */
  .content ul {
    padding-left: 20px; }
    /* line 113, ../css/site.scss */
    .content ul li {
      font-size: 16px; }
  /* line 118, ../css/site.scss */
  .content .high-light {
    color: black; }

/* line 123, ../css/site.scss */
.row.section {
  margin-bottom: 60px; }

/* line 127, ../css/site.scss */
footer {
  margin-bottom: 200px; }
  /* line 130, ../css/site.scss */
  footer .copy-right {
    padding: 20px 0 35px 0;
    border-top: 2px solid #C3E76A; }
  /* line 135, ../css/site.scss */
  footer .footer-section-title {
    font-size: 24px; }
  /* line 139, ../css/site.scss */
  footer ul {
    margin-top: 20px;
    padding-left: 0; }
    /* line 142, ../css/site.scss */
    footer ul li {
      list-style: none;
      font-size: 22px; }
      /* line 146, ../css/site.scss */
      footer ul li a {
        color: #BAB693; }

/* line 153, ../css/site.scss */
.bold {
  font-weight: bold; }

/* line 157, ../css/site.scss */
address {
  font-size: 18px; }

/* line 161, ../css/site.scss */
.light-background {
  background: #FFFEFB; }

/* line 165, ../css/site.scss */
h3 {
  font-weight: normal; }

/* line 169, ../css/site.scss */
.glyphicon.green {
  color: #C3E76A; }

/* line 174, ../css/site.scss */
.month-selector-wrapper ul {
  padding-left: 0px; }
  /* line 177, ../css/site.scss */
  .month-selector-wrapper ul li {
    list-style: none;
    float: left;
    width: 33%;
    text-align: center;
    margin-right: 1px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 20px; }
    /* line 187, ../css/site.scss */
    .month-selector-wrapper ul li div {
      padding: 10px 20px;
      display: block;
      border: 1px solid #C3E76A; }
    /* line 193, ../css/site.scss */
    .month-selector-wrapper ul li.active {
      border-top: 2px solid #C3E76A; }
      /* line 196, ../css/site.scss */
      .month-selector-wrapper ul li.active div {
        background: #C3E76A; }

/* line 204, ../css/site.scss */
.calendar-wrapper {
  width: 100%; }
  /* line 207, ../css/site.scss */
  .calendar-wrapper table {
    border: 1px solid #C3E76A; }
    /* line 210, ../css/site.scss */
    .calendar-wrapper table tr td, .calendar-wrapper table tr th {
      padding: 5px;
      border: 1px solid #C3E76A;
      width: 14.28%; }
    /* line 216, ../css/site.scss */
    .calendar-wrapper table tr td {
      height: 100px;
      vertical-align: top;
      font-size: 11px; }
      /* line 221, ../css/site.scss */
      .calendar-wrapper table tr td .inactive {
        color: #CCC; }
      /* line 225, ../css/site.scss */
      .calendar-wrapper table tr td span.date {
        font-size: 13px;
        display: block; }
      /* line 230, ../css/site.scss */
      .calendar-wrapper table tr td a {
        display: block;
        margin-bottom: 3px; }
        /* line 234, ../css/site.scss */
        .calendar-wrapper table tr td a .full {
          display: inline;
          background: red;
          color: white;
          padding: 2px; }
    /* line 245, ../css/site.scss */
    .calendar-wrapper table tr.odd td {
      background: #F2FADF; }

/* line 255, ../css/site.scss */
table tr td, table tr th {
  padding: 5px; }
/* line 261, ../css/site.scss */
table tr.odd td {
  background: #F2FADF; }

/* line 269, ../css/site.scss */
.text-right img {
  float: right; }

/* line 274, ../css/site.scss */
img.green-frame {
  border: 5px solid #F2FADF;
  padding: 1px; }

/* line 288, ../css/site.scss */
.modal-dialog.modal-xlg {
  width: 930px; }

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
/* line 302, ../css/site.scss */
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../img/a17.png) no-repeat;
  overflow: hidden; }

/* line 310, ../css/site.scss */
.jssora05l {
  background-position: -10px -40px; }

/* line 311, ../css/site.scss */
.jssora05r {
  background-position: -70px -40px; }

/* line 312, ../css/site.scss */
.jssora05l:hover {
  background-position: -130px -40px; }

/* line 313, ../css/site.scss */
.jssora05r:hover {
  background-position: -190px -40px; }

/* line 314, ../css/site.scss */
.jssora05ldn {
  background-position: -250px -40px; }

/* line 315, ../css/site.scss */
.jssora05rdn {
  background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 02 css */
/*
.jssort02 .p            (normal)
.jssort02 .p:hover      (normal mouseover)
.jssort02 .pav          (active)
.jssort02 .pav:hover    (active mouseover)
.jssort02 .pdn          (mousedown)
*/
/* line 325, ../css/site.scss */
.jssort02 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

/* line 333, ../css/site.scss */
.jssort02 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 62px;
  border: none; }

/* line 342, ../css/site.scss */
.jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c {
  background: url(../img/t01.png) center center;
  border-width: 0px;
  top: 2px;
  left: 2px;
  width: 95px;
  height: 62px; }

/* line 351, ../css/site.scss */
.jssort02 .p:hover .c, .jssort02 .pav:hover .c {
  top: 0px;
  left: 0px;
  width: 97px;
  height: 64px;
  border: #fff 1px solid; }
